.login-container {
  width: 100%;
  min-height: 630px;
  &__right {
    width: 100%;
    &__user-container {
      width: 350px;
      // height: 250px;
      border: 1px solid #e2e2e2;
      border-radius: 16px;
      padding: 3%;
      //  hh
    }
  }
}
.head {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.input {
  padding: 7px 17px;
  // width: 100%;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 20px;
  color: gray;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.req-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(91.36deg, #8e37f1 0%, #2f169e 100%);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  border: 1px solid #e2e2e2;
}
