<div class="login-container" fxLayout="row">
  <div fxFlex="50" class="login-container__inner">
    <img
      style="height: 100%; width: 100%; object-fit: contain"
      src="assets/login.jpg"
    />
  </div>
  <form
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    class="login-container__right"
  >
    <div class="login-container__right" fxLayoutAlign="center center">
      <div
        class="login-container__right__user-container"
        fxLayout="column"
        fxLayoutGap="16px"
      >
        <span class="head">Login</span>
        <input
          class="input Bodycopy3"
          type="text"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <input
          class="input Bodycopy3"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
        />
        <button
          class="req-button Buttonprimary"
          (click)="onSubmit()"
          type="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
