<div
  fxLayout="column"
  fxLayoutGap="40px"
  style="overflow: auto; margin-top: 30px"
>
  <div
    fxLayout="row"
    style="width: 100%; margin-top: 30px"
    fxLayoutAlign="space-around"
  >
    <!-- task 3 using of alternateCase pipe  -->
    <div class="main-container" fxLayoutAlign="center center">
      <form
        fxLayoutAlign="center center"
        [formGroup]="textConvertForm"
        class="main-container__right"
      >
        <div class="main-container__right">
          <div
            class="main-container__right__user-container"
            fxLayout="column"
            fxLayoutGap="16px"
          >
            <label class="head">Task 3</label>
            <label class="head">Enter the text to convert</label>
            <div fxLayout="row" fxLayoutGap="8px">
              <input
                class="input"
                type="text"
                id="email"
                formControlName="text"
                placeholder="Text"
              />
              <button
                class="req-button Buttonprimary"
                (click)="onSubmit(textConvertForm.value.text)"
                type="submit"
              >
                Submit
              </button>
            </div>
            <div *ngIf="converted" fxLayout="row">
              <span class="convert">{{
                textConvertForm.value.text | alternateCase
              }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- task 4 create product form -->
    <div class="main-container" fxLayoutAlign="center center">
      <form
        fxLayoutAlign="center center"
        [formGroup]="createProductForm"
        class="main-container__right"
      >
        <div class="main-container__right" fxLayoutAlign="center center">
          <div
            class="main-container__right__user-container"
            fxLayout="column"
            fxLayoutGap="16px"
          >
            <label class="head">Task 4</label>
            <span class="head">Create Product</span>
            <input
              class="input"
              type="text"
              id="name"
              formControlName="name"
              placeholder="Product Name"
            />
            <input
              class="input"
              type="text"
              id="brand"
              formControlName="brand"
              placeholder="Brand"
            />
            <label class="labelText">Product Image</label>
            <input
              type="file"
              id="image"
              formControlName="image"
              (change)="onFileChange($event)"
            />
            <input
              class="input"
              type="number"
              id="price"
              formControlName="price"
              placeholder="Price"
            />
            <textarea
              class="input"
              placeholder="Description"
              formControlName="description"
            ></textarea>

            <button
              class="req-button Buttonprimary"
              (click)="createProduct()"
              type="submit"
            >
              Submit
            </button>
            <span *ngIf="isSuccess" class="successText"
              >Product added successfully!</span
            >
          </div>
        </div>
      </form>
    </div>
    <!-- task 5  uploading image task -->
    <div class="main-container" fxLayoutAlign="center center">
      <form
        fxLayoutAlign="center center"
        [formGroup]="imageUploadForm"
        class="main-container__right"
      >
        <div class="main-container__right" fxLayoutAlign="center center">
          <div
            class="main-container__right__user-container"
            fxLayout="column"
            fxLayoutGap="16px"
          >
            <label class="head">Task 5</label>
            <span class="head">Image Uploading</span>
            <label class="labelText">Image</label>
            <input
              type="file"
              id="image"
              formControlName="image"
              (change)="onFileChange($event)"
            />
            <button
              class="req-button Buttonprimary"
              (click)="uploadImage()"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- task 6 fetch data from backend and display in table -->
  <div class="example-container">
    <label class="head">Task 6</label>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.brand }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img
            [src]="element.image"
            alt="prod image"
            style="max-width: 100px; max-height: 100px"
          />
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
