.main-container {
  // width: 100%;
  // box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  &__right {
    width: 100%;
    &__user-container {
      width: 400px;
      box-shadow: 0 20px 48px 0 rgba(153, 161, 170, 0.25);;
      // height: 250px;
      border: 1px solid #fffefe;
      border-radius: 16px;
      padding: 3%;
    }
  }
}
.labelText {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-size: 12px;
}
.successText {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: green;
}
.head {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.convert {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: green;
}
.input {
  padding: 7px 17px;
  // width: 100%;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  color: gray;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.req-button {
  height: 40px;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(91.36deg, #ff30cb 0%, #7c0076 100%);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  border: 1px solid #e2e2e2;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
